<div class="navbar">
    <div class="container">
        <div class="mobile-navbar">
            <a href="#" class="mobile-icon"><img src="https://s2.svgbox.net/hero-outline.svg?ic=menu-alt-3&color=white" width="32" height="32"></a>
            <ul id="icons">
                <li><a href="#"><img src="https://s2.svgbox.net/hero-outline.svg?ic=home&color=white" width="32" height="32"></a></li>
                <li><a href="#"><img src="https://s2.svgbox.net/hero-outline.svg?ic=beaker&color=white" width="32" height="32"></svg></a></li>
                <li><a href="#"><img src="https://s2.svgbox.net/hero-outline.svg?ic=question-mark-circle&color=white" width="32" height="32"></a></li>
                <li><a href="#"><img src="https://s2.svgbox.net/hero-outline.svg?ic=phone&color=white" width="32" height="32"></a></li>
            </ul>
        </div>
    </div>
</div>