@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$letter-clr: rgb(255, 255, 255);
$mobile-navbar-clr: rgba(87, 87, 87, 0.479);
$h1-color: white;
$first-background: #5574fe;
$mobile-navbar-clr-2: rgba(27, 27, 27, 0.767);
$background: rgb(0, 0, 0);
$sad: rgb(100, 84, 68);
$scroll: rgb(100, 84, 68);

*, *::after, *::before {
    box-sizing: border-box;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    ::-webkit-scrollbar {
        display: none;
    }
}


/* THREE */
.webgl
{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    outline: none;
}

/*BACKGROUND ANIMATION */
body {
    background-color: $background;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    color: $h1-color;
    overflow-x: hidden;
}
